<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @author.nationality %>
</p>

<p>
  <strong>Year:</strong>
  <%= @author.year %>
</p>

<p>
  <strong>Follower:</strong>
  <%= @author.follower %>
</p>

<p>
  <strong>Description:</strong>
  <%= @author.description %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @author.avatar %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
